.upload-section{
    display: flex;
	flex-direction: column;
    flex: 1 0 auto;
	margin: 1%;
	padding: 15px;
}

.upload-file{
	display: flex;
	flex-direction: row;
	margin-top: 10px; 
}

.upload-label{
	font-size: 24px;
	margin-top: 10px;
}

.select-button{
    margin: 7px 0px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 2px solid;
    cursor: pointer;
    border-color: yellow;
}

.select-button:hover{
	background-color: yellow;
}

.upload-button{
    margin-top:30px;
	width: 250px;
    padding: 7px;
    border-radius: 50px;
    border: 0px;
	outline: none;
    cursor: pointer;
	background-color: yellow;
}

.upload-input{
	font-size: 16px;
	padding: 5px;
	margin: 5px 0px;
	width: 30%;
}

.upload-lyrics{
	height:20%;
}

.genre-selection-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin-left:-20px;
}

.genre-selection-item{
    margin-top: 20px;
}

.genre-selection{
    visibility: hidden;
}

.genre-selection-label{
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 5px 10px;
}

.genre-selection:checked + .genre-selection-label{
	background-color: yellow;
	color: black;
	border: 2px solid yellow; 
}

.file-name{
    margin: auto 15px;
}

@media screen and (max-width: 720px)
{
	.upload-input {
		width: 60%;
	}
}
